* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font: normal 16px sans-serif;
  background-color: #142e3a; }

ul, nav {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.85; }

a:hover {
  opacity: 1; }

a.btn {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #7c1bbd;
  font-weight: 600;
  text-align: center;
  padding: 5px; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 100px; }

@media (max-width: 1000px) {
  section {
    padding: 10px 50px; } }

@media (max-width: 600px) {
  section {
    padding: 40px 30px; } }

/*-------------
 	Header
-------------*/
header {
  position: absolute;
  background: #142e3a;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 25px 0; }

header #city-input {
  color: black; }

header textarea {
  color: black; }

header h2 {
  font-family: 'Quicksand', sans-serif; }

header nav {
  display: flex; }

header nav li {
  margin: 0 15px; }

header nav li:first-child {
  margin-left: 0; }

header nav li:last-child {
  margin-right: 0; }

@media (max-width: 1000px) {
  header {
    padding: 20px 50px; } }

@media (max-width: 700px) {
  header {
    flex-direction: column; }
  header h2 {
    margin-bottom: 15px; } }

/*----------------
 	Hero Section
----------------*/
.hero {
  position: relative;
  justify-content: center;
  min-height: 90vh;
  max-height: 100%;
  color: #fff;
  text-align: center; }

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  background-size: cover;
  z-index: 0; }

.hero .background-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  opacity: 0.75; }

.back-img {
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url("https://previews.123rf.com/images/nikkytok/nikkytok1506/nikkytok150600052/41504664-metal-mesh-of-speaker-grill-texture-Stock-Photo-honeycomb.jpg"); }

@media (max-width: 800px) {
  .hero {
    min-height: 600px; }
  .hero h1 {
    font-size: 48px; }
  .hero h3 {
    font-size: 24px; }
  .hero a.btn {
    padding: 15px 40px; } }

/*-------------
 	Footer
-------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #142e3a;
  padding: 20px 0 10px 0; }

footer ul {
  display: flex;
  margin-bottom: 20px;
  font-size: 32px; }

footer ul li {
  margin: 0 8px; }

footer ul li:first-child {
  margin-left: 0; }

footer ul li:last-child {
  margin-right: 0; }

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px; }

footer p a {
  color: #fff; }

@media (max-width: 700px) {
  footer {
    padding: 50px 15px; } }
