* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #142e3a; }
  html body {
    background-color: #a1e8ee;
    color: #e4fff8;
    height: 100%; }
    html body div {
      height: 100%; }
    html body ul, html body nav {
      list-style: none; }
    html body a {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      opacity: 0.9; }
      html body a button {
        border-radius: 4px;
        text-align: center;
        padding: 5px; }
    html body a:hover {
      text-decoration: none;
      color: #e4fff8;
      opacity: 1; }
    html body a.btn {
      color: #fff;
      border-radius: 4px;
      text-align: center;
      padding: 5px; }
    html body section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 10px; }
    html body #register-location {
      width: 100%; }
