.back-img {
  top: 0;
  left: 0;
  margin-top: 110px;
  min-height: 80vh;
  background-size: cover;
  background-image: url("https://previews.123rf.com/images/nikkytok/nikkytok1506/nikkytok150600052/41504664-metal-mesh-of-speaker-grill-texture-Stock-Photo-honeycomb.jpg"); }

.body-dashboard {
  border: solid 3px rebeccapurple; }

.playlist-heading {
  border: solid 3px yellow; }

.music-container {
  border: solid 3px green; }

.username-heading {
  border: solid 3px orange; }

.player-full-container {
  color: white;
  background-color: darkslategrey;
  padding-top: 110px; }

.current-song-container {
  background-color: darkslategray;
  padding: 30px;
  background-color: darkblue; }

.audio-player {
  display: none; }

.track-container {
  color: red;
  background-color: black; }
