/*-------------
 	Header
-------------*/
header {
  position: absolute;
  background: #142e3a;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff; }

header #city-input {
  color: black; }

header textarea {
  color: black; }

header h2 {
  font-family: 'Quicksand', sans-serif; }

header nav {
  display: flex; }

header nav li {
  margin: 0 15px; }

header nav li:first-child {
  margin-left: 0; }

header nav li:last-child {
  margin-right: 0; }

header #location-search {
  color: black; }

@media (max-width: 1000px) {
  header {
    padding: 20px 50px; } }

@media (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 0; }
    header .main-btn {
      padding: 1px; } }
