input[type=range] {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 8px;
  background: transparent;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #51a1c0;
  margin-top: -4px; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent; }

input[type=range] {
  /* fix for FF unable to apply focus style bug  */
  border: 0px solid transparent;
  margin-bottom: 20px;
  /*required for proper track sizing in FF*/
  width: 80%; }

input[type=range]::-moz-range-track {
  width: 80%;
  height: 8px;
  background: transparent;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #51a1c0; }

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid transparent;
  outline-offset: -1px; }

input[type=range]:focus::-moz-range-track {
  background: transparent; }

input[type=range]::-ms-track {
  width: 80%;
  height: 8px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent; }

input[type=range]::-ms-fill-lower {
  margin-bottom: 20px;
  background: transparent;
  border-radius: 10px; }

input[type=range]::-ms-fill-upper {
  margin-bottom: 20px;
  background: transparent;
  border-radius: 10px; }

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #51a1c0; }

input[type=range]:focus::-ms-fill-lower {
  margin-bottom: 20px;
  background: transparent; }

input[type=range]:focus::-ms-fill-upper {
  margin-bottom: 20px;
  background: transparent; }

progress::-moz-progress-bar {
  background: rgba(109, 1, 119, 0.226);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress::-webkit-progress-value {
  background: rgba(109, 1, 119, 0.226);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress {
  color: rgba(109, 1, 119, 0.226);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

.track-seeking {
  position: absolute;
  background: transparent;
  left: 0;
  z-index: 2; }

.track-progress {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 8px;
  z-index: 1; }

.loaded-bar {
  position: relative;
  top: -8px;
  left: 0; }

.volume-control {
  float: right;
  background: darkslategray; }
  .volume-control input[type=range]::-webkit-slider-runnable-track {
    background: darkslategray; }
  .volume-control input[type=range]:focus::-webkit-slider-runnable-track {
    background: darkslategray; }
  .volume-control input[type=range]::-moz-range-track {
    background: darkslategray; }
  .volume-control input[type=range]:focus::-moz-range-track {
    background: darkslategray; }
  .volume-control input[type=range]:focus::-ms-fill-lower {
    background: darkslategray; }
  .volume-control input[type=range]:focus::-ms-fill-upper {
    background: darkslategray; }
