.modal-content {
  height: auto; }
  .modal-content .modal-title {
    color: black;
    padding-left: 10px; }
  .modal-content .btn-register {
    padding: 5px 35px;
    margin-left: -144px;
    margin-top: 44px; }
  .modal-content .btn-login {
    margin-top: 5px; }
  .modal-content input {
    margin-top: 5px; }
  @media (max-width: 600px) {
    .modal-content .btn-register {
      margin-top: 5px;
      margin-left: 0; } }
