header {
  position: absolute;
  background: #142e3a;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-family: "Magra", sans-serif;
  color: #fff;
  z-index: 2; }
  header h3 {
    font-family: "Skranji", cursive;
    font-size: 1rem;
    margin: 0 auto; }
  header textarea {
    color: black;
    width: 20vw;
    min-width: 100px;
    margin-right: 5px; }
  header nav {
    display: flex; }
    header nav #mini-brand-icon {
      width: 50px;
      height: 50px; }
    header nav .lg-size-btn {
      margin: 5px; }
  header #location-search {
    color: black; }

.main-btn {
  background-color: #85babe;
  margin: 5px 20px;
  float: right;
  padding: 6px 24px; }

#PlacesAutocomplete__root {
  height: inherit;
  float: left;
  margin-left: 15px; }

.dropdown-toggle {
  display: none; }

@media (max-width: 1000px) {
  header {
    flex-direction: row;
    flex-wrap: wrap; }
    header #PlacesAutocomplete__root {
      float: left;
      flex-direction: row;
      flex-wrap: wrap; } }

@media (max-width: 867px) {
  header {
    flex-direction: row;
    flex-wrap: wrap; }
    header #mini-brand-icon {
      width: 50px;
      height: 50px;
      display: none; }
    header .dropdown-toggle {
      display: block; }
    header .lg-size-btn {
      display: none; }
  header h2 {
    margin: 0 0 15px 0; } }

@media (max-width: 600px) {
  #PlacesAutocomplete__root {
    float: right; }
  .location-search-form {
    width: 40%;
    min-width: 100px; }
  textarea {
    width: 30vw;
    min-width: 100px;
    margin-right: 10px; }
  main-btn {
    padding-left: 10px; } }
