// colors
$mainC: rgb(20, 46, 58);
$hoverC: #e4ffef;
$teal1: #85babe;
$teal2:  #b0ffe4;
$tealBright: #a1e8ee;
$font: 'Open Sans', sans-serif;
$fontLogo: 'Skranji', cursive;
$fontContent: 'Magra', sans-serif;

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-family: $font;
	font-size: 16px;
	background-color: $tealBright;
	
	body {
		background-color: $tealBright;
		color: $hoverC;
		height: 100%;
		div {
			height: 100%;
		}

		ul, nav {
			list-style: none;
		}
		
		a {
			text-decoration: none;
			color: #fff;
			cursor: pointer;
			opacity: 0.9;
	
			button {
				border-radius: 4px;
				text-align: center;
				padding: 5px;
			}
		}
		
		a:hover {
			text-decoration: none;	
			color: $hoverC;
			opacity: 1;
		}
		
		section {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10px 10px;
		}
		#register-location {
			width: 100%;
		}
	}
	
	
}
