// colors
$mainC: rgb(20, 46, 58);
$hoverC: #e4ffef;
$teal1: #85babe;
$teal2:  #b0ffe4;
$tealBright: #a1e8ee;
$font: 'Open Sans', sans-serif;
$fontLogo: 'Skranji', cursive;
$fontContent: 'Magra', sans-serif;

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-family: $font;
	font-size: 16px;
	background-color: $tealBright;
	
	body {
		background-color: $tealBright;
		color: $hoverC;
		height: 100%;
		div {
			height: 100%;
		}
	}
	
	ul, nav {
		list-style: none;
	}
	
	a {
		text-decoration: none;
		color: #fff;
		cursor: pointer;
		opacity: 0.85;
	}
	
	a:hover {
		text-decoration: none;	
		color: $hoverC;
		opacity: 1;
	}
	
	a.btn {
		color: #fff;
		border-radius: 4px;
		text-transform: uppercase;
		background-color: rgb(124, 27, 189);
		font-weight: 600;
		text-align: center;
		padding: 5px;
	}
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 10px;
	}
	#register-location {
		width: 100%;
	}
}



// @media (max-width: 1000px){

// 	section {
// 		padding: 10px 50px;
// 	}
// }

// @media (max-width: 600px){

// 	section {
// 		padding: 40px 30px;
// 	}
// }

