/*-------------
 	Footer
-------------*/
$fontLogo: 'Skranji', cursive;
$fontContent: 'Magra', sans-serif;

footer{
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: rgb(20, 46, 58);
	padding: 5px 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 1;

	ul {
		display: flex;
		margin-bottom: 0px;
		font-size: 1em;

		li{
			margin: 0 8px;	
		}
	}
	a {
		color: #fff;
		span {
			font-family: $fontLogo;
			text-transform: uppercase;
			color: rgba(255,255,255,0.6);
			margin-bottom: 0px;

		}
	}
}




// @media (max-width: 700px){

// 	footer {
// 		padding: 30px 15px 0px 15px;
// 	}

// }