$font: 'Open Sans', sans-serif;
$fontLogo: 'Skranji', cursive;
$fontContent: 'Magra', sans-serif;
$mainC: rgb(20, 46, 58);
$accent: #85babe;
$blueMid: #235475;
$blueBright: #3e93cc;


header{
	position: absolute;
	background: $mainC;
	top: 0;
	left: 0;
	width: 100%;
	height: 115px;
	display: flex;
	flex-flow: row; 
	align-items: center;
  justify-content: center;
	font-family: $fontContent;
	color: #fff;
	z-index: 2;

	textarea {
		color: black;
		width: 20vw;
		min-width: 100px;
		margin-right: 5px;
	}
	
	nav{
		display: flex;

		.lg-size-btn {
			background-color: $blueMid;
			margin: 9px;
		}

		.mini-brand-container {
			margin-top: 10px;
		}

		a {
			font-family: $fontLogo;
			font-size: 2.2vw;
			margin: 0 2vw 0 2vw;
			vertical-align: middle;
		}
	}

	#location-search {
		color:black;
	}
}

.main-btn {
  background-color: $accent;
  margin: 9px 20px 5px 20px;
  float: right;
  padding: 6px 24px;
}

#PlacesAutocomplete__root {
	height: inherit;
	float: left;
	width: auto !important;
}

.dropdown-toggle {
	display: none;
}


@media (max-width: 1000px){
	header{
		flex-direction: row;
		flex-wrap: wrap;		

		#PlacesAutocomplete__root {
			float: left;
			flex-direction: row;
			flex-wrap: wrap;		
		}
	}	
}

@media (max-width: 867px) {
	header{
		flex-direction: row;
		flex-wrap: wrap;

		.mini-brand-container {
			img {
				display: none;
			}
		}

		.navbar {
			margin-bottom: 0;

			button {
				margin-top: 5px;
				margin-left: 5px;
			}
			
			// make entire dropdown area clickable
			.dropdown-menu {
				a {
					margin: 0;
					padding: 0;
					button {
						margin: 0;
						width: 100%;
					}
					button:hover {
						color: $accent;
						border: solid $accent 2px;
					}
				}
			}
		}
		
		.dropdown-toggle {
			display: block;
		}

		.lg-size-btn {
			display: none;
		}
	}		

	header h2 {
		margin: 0 0 15px 0;
	}
}

@media (max-width: 600px) { 

	#PlacesAutocomplete__root {
		float: right;	
	}

	textarea {
		width: 30vw;
		min-width: 100px;
		margin-right: 10px;
	}
	
	main-btn {
		padding-left: 10px;
	}
}
