$accent: #85babe;
$font: 'Open Sans', sans-serif;

header{
	position: absolute;
	background: rgb(20, 46, 58);
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	max-height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 25px 0;
	font-family: $font;
	
}

header textarea {
	color: black;
	width: 20vw;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}

header #location-search {
	color:black;
}

@media (max-width: 1000px){
	header{
		padding: 20px 30px;
		flex-direction: column;
		flex-wrap: wrap;		
		#PlacesAutocomplete__root {
			float: right;
			flex-direction: column;
			flex-wrap: wrap;		
		}
	}

	
}

@media (max-width: 700px){
	header{
		flex-direction: column;
		flex-wrap: wrap;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

.main-btn {
  background-color: $accent;
  margin: 5px 20px;
  float: right;
  padding: 6px 24px;
}

#PlacesAutocomplete__root {
	float: left;
}

