$accent: #85babe;
$font: 'Open Sans', sans-serif;
$fontLogo: 'Skranji', cursive;
$fontContent: 'Magra', sans-serif;

header{
	position: absolute;
	background: rgb(20, 46, 58);
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	max-height: 135px;
	display: flex;
	flex-flow: row; 
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 25px 0;
	font-family: $fontContent;

	h3 {
		font-family: $fontLogo;
		font-size: 1rem;
		margin: 0 auto;
	}

	textarea {
		color: black;
		width: 20vw;
		min-width: 100px;
		margin-right: 5px;
	}
	
	nav{
		display: flex;

		#mini-brand-icon {
			width: 50px;
			height: 50px;
		}

		.lg-size-btn {
			margin: 5px;			
		}

		li{
			margin: 0 15px;
		}
		
		li:first-child{
			margin-left: 0;	
		}
		
		li:last-child{
			margin-right: 0;	
		}
	}

	#location-search {
		color:black;
	}
}

.main-btn {
  background-color: $accent;
  margin: 5px 20px;
  float: right;
  padding: 6px 24px;
}

#PlacesAutocomplete__root {
	float: left;
	margin-left: 15px;
}

.dropdown-toggle {
	display: none;
}


@media (max-width: 1000px){
	header{
		padding: 20px 30px;
		flex-direction: row;
		flex-wrap: wrap;		

		#PlacesAutocomplete__root {
			float: left;
			flex-direction: row;
			flex-wrap: wrap;		
		}
	}	
}

@media (max-width: 867px) {
	header{
		flex-direction: row;
		flex-wrap: wrap;

		#mini-brand-icon {
			width: 50px;
			height: 50px;
			display: none;
		}

		.dropdown-toggle {
			display: block;
		}

		.lg-size-btn {
			display: none;
		}
	}		

	header h2{
		margin-bottom: 15px;
	}
}

@media (max-width: 600px) { 

	#PlacesAutocomplete__root {
		float: right;	
	}

	.location-search-form {
		width: 40%;
		min-width: 100px;		
	}

	textarea {
		width: 30vw;
		min-width: 100px;
		margin-right: 10px;
	}
	
	main-btn {
		padding-left: 10px;
	}
}
